<div class="row justify-content-center mt-3" *ngIf="character$ | async as character">
    <div class="col-xs-12 col-sm-6 col-md-6 justify-content-center">
        <div class="card">
            <div class="image">
                <img [src]="character.image" [alt]="character.name" class="card-img-top mt-5" />
            </div>
            <div class="card-inner">
                <div class="header">
                    <h2>{{ character.name | slice: 0:15 }}</h2>
                    <h4 class="text-muted">{{ character.species }}</h4>
                    <h4 class="text-muted">{{ character.status }}</h4>
                    <h4 class="text-muted">{{ character.gender }}</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<button (click)="onGoBack()" class="btn btn-primary btn-lg mt-3">Back</button>